﻿@model WebApplication2.Models.VirtualM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VirtualM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPPublic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPPublic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    <a class="bouton" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="bouton" asp-action="Index">Back to List</a>
</div>
