﻿@using WebApplication2.Controllers;
@model IEnumerable<WebApplication2.Models.VirtualM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="bouton" asp-action="Create">Create New</a>
</p>
<table class="table green-text">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            @if (!(await VirtualMsController.statutVM(item.Name)))
            {
                <td>
                    <form asp-action="Shutdown" asp-route-nom="@item.Name">
                        <input type="submit" value="Shutdown" class="btn btn-danger" />
                    </form>
                </td>
            }
            else {
                <td>
                    <form asp-action="Shutdown" asp-route-nom="@item.Name">
                            <input type="submit" value="Start" class="btn btn-primary" />
                    </form>
                </td>
            }
            <td>
                    <a class="bouton" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="bouton" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="bouton" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
