﻿html {
    background-color: black;
    color: #0b850b;
    font-weight: 600;
}

header {
    background-color: black;
    color: #0b850b;
    font-weight: 600;
}

body {
    background-color: black;
    color: #0b850b;
    font-weight: 600;
}

.container 
{
    color: #0b850b;
}

.green-text {
    color: #0b850b;
    font-weight: 600;
}

.home-lien
{
    text-decoration:none;
    font-size:20px;
    font-weight:600;
}

.bouton {
    padding: 6px;
    border: solid 2px #0b850b;
    text-decoration: none;
    color: #0b850b;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    transition-duration: 500ms;
}

    .bouton:hover {
        padding: 12px;
        border: solid 2px black;
        background-color: #0b850b;
        text-decoration: none;
        color: black;
    }